.Playfair-font{
    font-family: "Playfair Display", Georgia, serif;
}

.Playfair-font-ss{
    font-family: "Playfair Display", Georgia, sans-serif;
}

.Quicksand-font{
    font-family: "Quicksand", Arial, sans-serif;
}
